[submodule "kernel"]
	path = kernel
	url = ../../potatos-project/kernel.git
[submodule "tools/mkfs.bobfs"]
	path = tools/mkfs.bobfs
	url = ../../potatos-project/mkfs.bobfs.git
[submodule "tools/bfg9k"]
	path = tools/bfg9k
	url = ../../potatos-project/bfg9k.git
[submodule "user"]
	path = user
	url = ../../potatos-project/user.git
[submodule "tests"]
	path = tests
	url = ../../potatos-project/tests.git
